{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "jsxElem"
      }
    ],
    "@babel/plugin-transform-runtime"
  ],
  "parserOpts": {
    "plugins": ["dynamicImport"]
  }
}
